body {
	background:#0a541a;
}
h1 {
		font-size:500%;
		text-align:center;
}
p {
		font-size:150%;
		font-weight:bold;
		text-align:justify;
		text-indent:5%;
		color:#00ff48;
}
#a2 {
	font-size:50%;
}
h3 {
	font-size:200%;
	text-align:center;
}
.a4 {
	text-align:center;
}
h2 {
	font-size:350%;
	text-align:center;
}
#a5 {
width: 25%;
height: 100%;
background-color: white;
}
#a21,#a23,h3 {
	font-size:200%;
}
#a22 {
	font-size:100%;
}
#a24 {
	width: 480px;
	height: 270px;
}
.a25,.a26 {
	display: flex;
	margin-left:15%;	
}
#a27 {
	margin-left:45%;
}
.a1,.a7,.a8 {
display: flex; 
}
#a2 {
  width: 180%;
  height: 600px;
  background-color: white;
}